#root {
  width: 100%;
  max-width: 32rem;
  margin: 0 auto;
  text-align: center;
  display: grid;
  place-items: center;
}

#icons-container {
  width: 100%;
  padding: 2rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 8rem);
  place-items: center;
}

svg {
  width: 3rem;
}

div {
  margin-bottom: 1.5rem;
  text-align: center;
}

br {
  display: block;
  height: 0.125rem;
  background-color: black;
  margin: 1rem 0;
}